<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>

    <link rel="stylesheet" href="{{ url_for("main_theme") }}">
</head>

<body>

{% include 'header.html' %}

<h1>Analytics</h1>


{% if code_counter %}
    <table class="bordered">
        <tr class="bordered">
            <th class="bordered">Code</th>
            <th class="bordered">Uses</th>
            <th class="bordered">Unique Users</th>
        </tr>
        {% for code, freq in code_counter %}
            <tr class="bordered">
                <td class="bordered">{{ code }}</td>
                <td class="bordered">{{ freq }}</td>
                <td class="bordered">{{ unique_codes[code] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<p><b>{{ table|length }}</b> calls total from <b>{{ uniques }}</b> unique numbers.</p>

{% if table %}
    <table class="bordered">
        <tr class="bordered">
            <th class="bordered">Phone number</th>
            <th class="bordered">Time of call</th>
            <th class="bordered">Code entered</th>
        </tr>
        {% for number, call_time, code, id_num in table %}
            <tr class="bordered">
                <td class="bordered">
                    {% set name = contacts.get(number) %}
                    {% if name %}
                        {{ name }} ({{ number }})
                    {% else %}
                        {{ number }}
                    {% endif %}
                </td>
                <td class="bordered">{{ call_time }}</td>
                <td class="bordered">{{ code }}{{ (' (ID: {})'.format(id_num)) if id_num }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}


<h3>Ignore/unignore number</h3>

<p>Need to exclude a number from analytics? Enter it here in the format <code>+13105556789</code>.
    If the number is already ignored, it will be unignored.</p>

<form action="" method="post">
    <p>
        <label for="number">Phone number</label>
        <input id="number" name="num" required type="text" placeholder="+13105556789">
    </p>
    <button>Go</button>
</form>

{% include 'success_error.html' %}



{% if ignored %}
    <h3>Ignored numbers</h3>

    These numbers are ignored:
    <ul>
        {% for number in ignored %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>

{% endif %}

</body>
</html>