<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
</head>

<link rel="stylesheet" href="/static/hacker.css">

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0px;
    }

    table, th, td {
        padding: 5px;
        border: 1px solid #00ff00;
    }
</style>
<body>

{% include 'header.html' %}

<h1>Analytics</h1>

<p><b>{{ table|length }}</b> calls total from <b>{{ uniques }}</b> unique numbers.</p>

{% if table %}
    <table>
        <tr>
            <th>Phone number</th>
            <th>Time of call</th>
        </tr>
        {% for row in table %}
            <tr>
                {% for data in row %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}


<h3>Ignore/unignore number</h3>

<p>Need to exclude a number from analytics? Enter it here in the format <code>+13105556789</code>.
    If the number is already ignored, it will be unignored.</p>

<form action="" method="post">
    <p>
        <label for="number">Phone number</label>
        <input id="number" name="num" required type="text" placeholder="+13105556789">
    </p>
    <button>Go</button>
</form>

{% include 'success_error.html' %}



{% if ignored %}
    <h3>Ignored numbers</h3>

    These numbers are ignored:
    <ul>
        {% for number in ignored %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>

{% endif %}

</body>
</html>