<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
</head>

<link rel="stylesheet" href="/static/hacker.css">

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0px;
    }

    table, th, td {
        padding: 5px;
        border: 1px solid #00ff00;
    }
</style>
<body>

<a href="{{ url_for('edit_message') }}">Edit message</a>

<h1>Analytics</h1>

<p><b>{{ table|length - 1 }}</b> calls total from <b>{{ uniques }}</b> unique numbers.</p>

<table>
    {% for row in table %}
        <tr>
            {% if loop.first %}
                {% for data in row %}
                    <th>{{ data }}</th>
                {% endfor %}
            {% else %}
                {% for data in row %}
                    <td>{{ data }}</td>
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}
</table>


<h3>Ignore number</h3>

<p>Need to exclude a number from analytics? Enter it here in the format <code>+13105556789</code>.</p>

<form action="" method="post">
    <p>
        <label for="number">Phone number</label>
        <input id="number" name="num" required type="text" placeholder="+13105556789">
    </p>

    <p>
        <label for="password">Password</label>
        <input id="number" name="pw" required type="password">
    </p>
    <button>Go</button>
</form>


{% if ignored %}
    <h3>Ignored numbers</h3>

    <p>These numbers are ignored:
    <ul>
        {% for number in ignored %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
    </p>
{% endif %}

</body>
</html>