<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authenticate</title>
    <link rel="stylesheet" href="/static/hacker.css">
</head>


<body>

<h1>Log in</h1>

<p>You need to authenticate to view this page.</p>

<form action="" method="post">
    <table>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input id="password" name="pw" required type="password"></td>
        </tr>
        <td></td>
        <td>
            <button>Go</button>
        </td>
    </table>
</form>

{% include 'success_error.html' %}

</body>
</html>
