<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response Editor</title>
    <link rel="stylesheet" href="{{ url_for("main_theme") }}">

    <!-- Tabbed view functionality adapted from https://stackoverflow.com/a/1029252/8033766 -->
    <script type="text/javascript">

        const PAIRS = {"text-radio": "textRow", "audio-radio": "audioRow"};

        function updateTabs() {
            for (const radio_id in PAIRS) {
                const radio = document.getElementById(radio_id);
                const field = document.getElementById(PAIRS[radio_id]);
                if (radio.checked)
                    field.style.display = "";
                else
                    field.style.display = "none";
            }
        }

        window.onload = updateTabs;  // sometimes the browser saves state

    </script>
</head>

<body>

{% include 'header.html' %}

<h1>Response Editor</h1>

<p>Enter your new message below. Click Submit when done.</p>
<p>To edit a code-specific message, enter a code in the box for codes.
    If no code is entered, you will modify the default message.</p>
<p>Enter "<code>closed</code>" to modify the message that is played outside of business hours.</p>
<p>Enter "<code>id-prompt</code>" to modify the message that is played when an ID should be entered.</p>
<p>Enter "<code>unknown-id</code>" to modify the message that is played when an unknown <i>existing</i> ID has been
    entered.</p>
<p>Enter "<code>good-id</code>" to modify the message that is played when a valid <i>new</i> ID has been entered.</p>
<p>Enter "<code>bad-id</code>" to modify the message that is played when an invalid <i>new</i> ID has been entered.</p>


<form action="" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="code">Code:</label></td>
            <td><input type="text" id="code" name="code" placeholder="123"></td>
        </tr>
        <tr>
            <td>Response type:</td>
            <td>
                <input type="radio" id="text-radio" name="type" value="text" checked
                       onclick="updateTabs()">
                <label for="text-radio">Text</label>

                <input type="radio" id="audio-radio" name="type" value="audio"
                       onclick="updateTabs()">
                <label for="audio-radio">Audio</label>
            </td>
        </tr>
        <tr>
            <td>Options:</td>
            <td>
                <label><input type="checkbox" name="require-id">Require ID</label>
                <label><input type="checkbox" name="register-id">Register new ID</label>
            </td>
        </tr>
        <tr id="textRow">
            <td>
                <label for="message">Message:</label></td>
            <td>
                <textarea id="message" name="mess" rows="5" cols="33"></textarea>
            </td>
        </tr>
        <tr id="audioRow" style="display: none;">
            <td><label for="audio-upload">Audio file:</label></td>
            <td><input type="file" id="audio-upload" accept="audio/mpeg" name="audio-file"></td>
        </tr>
        <tr>
            <td>
                <button>Submit</button>
            </td>
        </tr>

    </table>
</form>

{% include 'success_error.html' %}

<h2>Active responses</h2>

<ul>
    {% for code in coded_messages.codes() %}
        {% if code != 'prompt' %} {# HACKY #}
            <li>
                {% if code %}
                    <b>{{ code }}</b> (<a href="{{ url_for('delete_code_response', code=code) }}">delete</a>):
                {% else %}
                    <i>default</i>:
                {% endif %}
                {% if not coded_messages.get_response_type(code) %}
                    Audio
                    <br>
                    <p>{{ coded_messages.get_response_file_name(code) }}</p>
                {% else %}
                    Text
                    <br>
                    <p style="white-space: pre-wrap;">{{ coded_messages.get_response_text(code) }}</p>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>


</body>
</html>
