<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response Editor</title>
</head>

<link rel="stylesheet" href="/static/hacker.css">

<body>

{% include 'header.html' %}

<h1>Response Editor</h1>

Enter your new message below. Click Submit when done.

<br><br>

<form action="" method="post" enctype="multipart/form-data">
    <div>
        <label for="message">Message</label>
        <br>
        <textarea id="message" name="mess" required rows="5" cols="33">{{ message }}</textarea>
    </div>
    <br>
    <div>
        <input type="checkbox" id="audio-checkbox" name="use-audio" {% if checked %}checked{% endif %}>
        <label for="audio-checkbox">use audio file</label>
    </div>
    <br>
    <div>
        <label for="audio-upload">Audio file</label>
        <input type="file" id="audio-upload" accept="audio/mpeg" name="audio-file">
    </div>
    <button>Submit</button>
</form>

{% include 'success_error.html' %}

</body>
</html>
