body, a, input, textarea, button {
    background-color: #0d0d0d;
    font-family: 'Courier New', monospace;
    color: {{ main_color }};
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table, th, td {
    padding: 5px;
}

.bordered {
    border: 1px solid{{ main_color }};
}


/* from https://stackoverflow.com/a/23681913/ */

::selection {
    background-color: {{ main_color }};
    color: #0d0d0d;
}

::-moz-selection {
    background-color: {{ main_color }};
    color: #0d0d0d;
}

::-o-selection {
    background-color: {{ main_color }};
    color: #0d0d0d;
}

::-ms-selection {
    background-color: {{ main_color }};
    color: #0d0d0d;
}

::-webkit-selection {
    background-color: {{ main_color }};
    color: #0d0d0d;
}
